
.Menu {
    display : flex;
    font-size: 22px;
}

.Menu > div {
    padding: 15px;
}

.Articles {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}


.Main-div {
    width :50%;
    margin: 0 auto;
}

form {
    width: 80%;
}